/* Establece valores iniciales para todos los elementos */
* {
  margin: 0; /* Elimina el margen por defecto */
  padding: 0; /* Elimina el relleno por defecto */
  font-family: sans-serif; /* Establece una fuente predeterminada para todos los elementos */
  box-sizing: border-box; /* Aplica el modelo de caja de borde a todos los elementos */
}

/* Elimina el contorno al enfocar un elemento */
:focus {
  outline: none; /* Elimina el contorno al enfocar un elemento */
}

/* Estilos para el cuerpo del documento */
body {
  display: flex; /* Usa el modelo de caja flexible para el cuerpo */
  justify-content: center; /* Centra horizontalmente los elementos dentro del cuerpo */
  align-items: center; /* Centra verticalmente los elementos dentro del cuerpo */
  height: 100vh; /* Establece la altura del cuerpo al 100% de la altura de la ventana */
  margin: 0; /* Elimina el margen por defecto */
  background-image: url("../img/logo\ inventariorh.jpg");
  background-size: 60%; /* Ajusta la imagen de fondo para que cubra todo el contenedor */
  background-position: center; /* Centra la imagen de fondo */
  background-repeat: no-repeat; /* Evita la repetición de la imagen de fondo */
}

/* Estilos para el formulario */
form {
  width: 80%; /* Ancho del formulario al 80% del contenedor padre */
  max-width: 400px; /* Ancho máximo del formulario */
  padding: 20px; /* Espaciado interior del formulario */
  background-color: #fff; /* Color de fondo del formulario */
  border-radius: 10px; /* Establece esquinas redondeadas */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Agrega una sombra al formulario */
}

/* Estilos para el encabezado del formulario */
h2 {
  text-align: center; /* Centra el texto horizontalmente */
  margin-bottom: 20px; /* Margen inferior del encabezado */
  color: rgba(0, 0, 0, 0.8); /* Color del texto del encabezado */
}

/* Estilos para los campos de entrada */
input {
  display: block; /* Muestra los elementos como bloques */
  padding: 10px; /* Espaciado interior de los elementos de entrada */
  width: 100%; /* Ancho del elemento de entrada al 100% del contenedor */
  margin: 10px 0; /* Espaciado entre campos de entrada */
  font-size: 16px; /* Tamaño de fuente */
}

/* Estilos específicos para el botón de envío */
input[type="submit"] {
  background: linear-gradient(
    #ffda63,
    #ffb940
  ); /* Degradado de fondo del botón */
  border: 0; /* Elimina el borde */
  color: black; /* Color del texto */
  opacity: 0.8; /* Opacidad inicial del botón */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  font-family: Arial; /* Tipo de fuente */
  border-radius: 20px; /* Borde redondeado */
  margin-bottom: 0; /* Elimina el margen inferior */
}

/* Estilos cuando se pasa el cursor sobre el botón */
input[type="submit"]:hover {
  opacity: 1; /* Aumenta la opacidad al pasar el cursor */
}

/* Estilos cuando se presiona el botón */
input[type="submit"]:active {
  transform: scale(
    0.95
  ); /* Reduce ligeramente el tamaño del botón al presionarlo */
}

/* Estilos específicos para pantallas con un ancho máximo de 768px */
@media screen and (max-width: 375px) and (min-width: 0px) {
  .contenedor {
    width: 375px; /* Ancho del contenedor */
    height: 820px; /* Alto del contenedor */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
  }

  #inicio {
    text-decoration: none;
    top: 443px;
    position: absolute;
    font-size: 19px;
  }
}

.BTN_INICIO {
  display: inline-block; /* Hace que el div se comporte como un elemento en línea con bloque */
  padding: 1px 1px; /* Añade espaciado interno al botón */
  background-color: #9F624D; /* Color de fondo del botón */
  color: #fff; /* Color del texto */
  text-align: center; /* Centra el texto horizontalmente */
  text-decoration: none; /* Quita el subrayado del texto */
  border: none; /* Quita el borde */
  border-radius: 30px; /* Borde redondeado */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  transition: background-color 0.3s ease; /* Transición suave del color de fondo */
}

.BTN_INICIO:hover {
  background-color: #0F6387; /* Cambia el color de fondo al pasar el mouse */
}

.BTN_INICIO a {
  text-decoration: none; /* Quita el subrayado del enlace */
  color: inherit; /* Hereda el color de texto del contenedor */
}

.BTN_INICIO img {
  vertical-align: middle; /* Alinea verticalmente la imagen con el texto */
  border-radius: 30px;  /* le da borde a la imagen */
}
