body {
  margin: 0;
}

nav {
  background-color: #1c2d44;
  width: 170px; /* Ajusta el ancho según lo necesites */
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 10px 0; /* Ajusta el relleno según lo necesites */
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li {
  margin-bottom: 8px; /* Ajusta el espaciado entre elementos según lo necesites */
}

nav a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 20px 16px;
  font-size: 16px;
  transition: color 0.3s ease, font-size 0.3s ease;
}

/* Cambia el color y aumenta el tamaño al pasar el mouse */
nav a:hover {
  color: rgb(21, 255, 0);
  font-size: 18px;
}

a.active {
  background-color: #429f7f;
}

img {
  width: 160px;
  margin-top: -10px;
}

header {
  background-color: #000000;
  padding: 33px;
  color: white;
  border-left: 230px solid transparent;
  padding-bottom: 10px;
  position: relative;
}

.lider {
  position: absolute;
  bottom: 0;
  left: 70%;
  font-size: 10px;
}

#titulo {
  position: relative;
  top: -38px;
}

.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 5%; /* Padding para la sección */
  width: 50%;
  position: fixed;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1.1);
  z-index: 10;
  overflow: auto; /* Habilitar scroll si es necesario */
}

.section h2 {
    margin: -30px -12% 20px; /* Margen negativo superior para superponer el título */
    font-size: 24px; /* Ajusta el tamaño de la fuente según necesites */
}

.section ul {
  list-style-type: none;
  padding: 0;
}

.section li {
  margin-bottom: 5px;
}

.section a {
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  transition: color 0.3s ease;
}

.section a:hover {
  text-decoration: underline;
}

.section__link {
  text-decoration: none;
  color: #d9ff00;
  font-size: 20px;
  transition: color 0.3s ease;
}

.section__link:hover {
  text-decoration: underline;
}

.article1, .article2, .article3, .article4 {
  margin: 10px;
  padding: 20px;
  background-color: #1E2845;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1 1 200px;
  max-width: 250px;
  margin-left: 38%;
}

.article1 a,
.article2 a,
.article3 a,
.article4 a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content > * {
  margin: 0 10px;
}

.quick-links {
  display: flex;
  align-items: center;
}

.quick-links h3 {
  margin-right: 10px;
}

.quick-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.quick-links ul li {
  margin-right: 15px;
}

.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-left: 50%;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

/* Media Queries para diferentes dispositivos */

/* Pantallas pequeñas (móviles) */
@media (max-width: 600px) {
  .section {
    flex-direction: column;
    width: 100%;
    top: auto;
    left: 0;
    transform: none;
  }
  
  nav {
    width: 100%;
    position: relative;
    padding: 0;
  }
  
  header {
    padding: 20px;
  }
}

/* Pantallas medianas (tabletas) */
@media (min-width: 601px) and (max-width: 1024px) {
  .section {
    flex-direction: row;
    width: 90%;
  }
}

/* Pantallas grandes (escritorio) */
@media (min-width: 1025px) {
  .section {
    flex-direction: row;
    width: 70%;
    overflow-x: auto; /* Permitir el scroll horizontal si es necesario */
    white-space: nowrap;
  }
}
